<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="observer" class="com.spring.lesson1.ConcreteObserver">
		<constructor-arg value="1"></constructor-arg>
	</bean>


	<bean id="concreteSubject" class="com.spring.lesson1.ConcreteSubject">
		<constructor-arg ref="observerList"></constructor-arg>
	</bean>
	
	<util:list id="observerList" value-type="com.spring.lesson1.ConcreteObserver">
           <ref bean="observer"></ref>
       </util:list>
</beans>
