<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       xmlns:util="http://www.springframework.org/schema/util">

       <bean id="observer" class="com.spring.lesson1.ConcreteObserver" scope="prototype">
       </bean>
       <!-- bean id="observer2" class="com.spring.lesson1.ConcreteObserver"></bean>
       <bean id="observer3" class="com.spring.lesson1.ConcreteObserver"></bean-->


       <bean id="concreteSubject" class="com.spring.lesson1.ConcreteSubject">

       </bean>
       <!-- util:list id="observerList" value-type="Observer">
           <ref bean="observer1"></ref>
           <ref bean="observer2"></ref>
           <ref bean="observer3"></ref>
       </util:list-->
</beans>